# Archivos SQL
# (Los hemos movido a la carpeta scripts_sql para tenerlos versionados)

# Guías, planes y documentación interna del desarrollador
guias_y_planes/

# Archivos de entorno y configuración sensible
.env
.env.local
*.env

# Archivos de sistema
.DS_Store
Thumbs.db
