# Archivos SQL
# (Desbloqueados para mostrar perfil Backend en Portfolio)
# scripts_sql/

# Guías, planes y documentación interna del desarrollador
# (Desbloqueados para el portfolio)
# guias_y_planes/

# Archivos de entorno y configuración sensible
.env
.env.local
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos descartados
ignorar_git/
